<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>FCM Test</title>
    <link rel="shortcut icon" href="/static/favicon.png">

    <!-- Import Google Icon Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
    <style type="text/css">
        #alert,
        #info,
        #delete,
        #notification,
        #massage_row {
            display: none;
        }
    </style>
</head>
<body>


<main class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br>
        <br>
        <div class="card-panel deep-orange darken-1 white-text z-depth-2" id="alert">
            <i class="material-icons left deep-orange-text text-darken-4">warning</i>
            <strong>Error</strong>
            <em id="alert-message"></em>
        </div>
        <div class="card-panel green darken-1 white-text z-depth-2 center" id="info">
            <span id="info-icon"></span>
            <span id="info-message"></span>
        </div>
        <div class="row center">
            <button type="button" class="btn-large waves-effect waves-light orange" id="register"><span class="material-icons">notifications_active</span> Уведомить и Сообщить</button>
            <button type="button" class="btn-large waves-effect waves-light orange" id="delete"><span class="material-icons">notifications_off</span> Не уведомлять</button>
        </div>
    </div>

</main>
<script src="/static/js/firebase.js"></script>
<script src="/static/js/app.js"></script>
<script type="text/javascript" src="//www.gstatic.com/firebasejs/3.6.8/firebase.js"></script>
<script type="text/javascript" src="/static/js/firebase_subscribe.js"></script>
</body>
</html>
